'.text.html':
  'button basic':
    'prefix': 'md2-button'
    'body': '<button md-button>${1:content}</button>'
    'description': 'Material 2 Button'
  'button icon':
    'prefix': 'md2-icon-button'
    'body': """
      <button md-icon-button>
        <md-icon class=\"${1:icon}\"></md-icon>
      </button>
    """
    'description': 'Material 2 Icon Button'
  'button raised':
    'prefix': 'md2-raised-button'
    'body': '<button md-raised-button>${1:content}</button>'
    'description': 'Material 2 Raised Button'
  'button fab':
    'prefix': 'md2-fab'
    'body': """
      <button md-fab>
        <md-icon class=\"${1:icon}\"></md-icon>
      </button>
    """
    'description': 'Material 2 Raised Button'
  'button mini fab':
    'prefix': 'md2-mini-fab'
    'body': """
      <button md-mini-fab>
        <md-icon class=\"${1:icon}\"></md-icon>
      </button>
    """
    'description': 'Material 2 Mini FAB Button'
  'card':
    'prefix': 'md2-card'
    'body': """
      <md-card>
        <md-card-title>${1:title}</md-card-title>
        <md-card-content>${2:content}</md-card-content>
      </md-card>
    """
    'description': 'Material 2 Card'
  'Checkbox':
    'prefix': 'md2-checkbox'
    'body': "<md-checkbox>${1:content}</md-checkbox>"
    'description': 'Material 2 Checkbox'
  'Grid List':
    'prefix': 'md2-grid-list'
    'body': """
      <md-grid-list>
        <md-grid-tile>
          <md-grid-tile-header>${1:header}</md-grid-tile-header>
          <md-grid-tile-footer>${2:footer}</md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    """
    'description': 'Material 2 Grid List'
  'Icon':
    'prefix': 'md2-icon'
    'body': '<md-icon svgIcon=\"${1:icon}\"></md-icon>'
    'description': 'Material 2 Icon using SVG icon'
  'Icon SVG Src':
    'prefix': 'md2-icon-src'
    'body': '<md-icon svgSrc=\"${1:iconSrc}.svg\"></md-icon>'
    'description': 'Material 2 Icon using SVG src'
  'Icon SVG Src':
    'prefix': 'md2-icon-font'
    'body': '<md-icon fontSet=\"${1:fontSet}\" fontIcon=\"${2:fontIcon}\"></md-icon>'
    'description': 'Material 2 Icon using Font set'
  'Input':
    'prefix': 'md2-input'
    'body': '<md-input placeholder=\"${1:placeholder}\" value=\"${2:value}\"></md-input>'
    'description': 'Material 2 Input'
  'Input with hint':
    'prefix': 'md2-input-hint'
    'body': """
      <md-input placeholder=\"${1:placeholder}\" value=\"${2:value}\">
        <md-hint align=\"${3:align}\"></md-hint>
      </md-input>
    """
    'description': 'Material 2 Input with hint'
  'List':
    'prefix': 'md2-list'
    'body': """
      <md-list>
        <md-list-item *ngFor=\"${ngFor}\">
          <p md-line></p>
        </md-list-item>
      </md-list>
    """
    'description': 'Material 2 List'
  'List Dense':
    'prefix': 'md2-dense-list'
    'body': """
      <md-list dense>
        <md-list-item *ngFor=\"${ngFor}\">
          <p md-line></p>
        </md-list-item>
      </md-list>
    """
    'description': 'Material 2 Dense List'
  'List Nav':
    'prefix': 'md2-nav-list'
    'body': """
      <md-nav-list>
        <md-list-item *ngFor=\${ngFor}\>
          <p md-line></p>
        </md-list-item>
      </md-nav-list>
    """
    'description': 'Material 2 Nav List'
  'Progress Bar':
    'prefix': 'md2-progress-bar'
    'body': '<md-progress-bar mode=\"${mode}\" [value]=\"${value}\"></md-progress-bar>'
    'description': 'Material 2 Progress Bar'
  'Progress Circle':
    'prefix': 'md2-progress-circle'
    'body': '<md-progress-circle mode=\"${mode}\" [value]=\"${value}\"></md-progress-circle>'
    'description': 'Material 2 Progress Circle'
  'Radio':
    'prefix': 'md2-radio'
    'body': '<md-radio-button name=\"${name}\"></md-radio-button>'
    'description': 'Material 2 Radio'
  'Sidenav':
    'prefix': 'md2-sidenav'
    'body': """
      <md-sidenav-layout>
        <md-sidenav>${content}</md-sidenav>
      </md-sidenav-layout>
    """
    'description': 'Material 2 Sidenav'
  'Tab':
    'prefix': 'md2-tab'
    'body': """
      <md-tab-group>
        <md-tab>${content}</md-tab>
      </md-tab-group>
    """
    'description': 'Material 2 Tab'